@font-face {
	font-family: 'ProximaNova-Regular';
	font-display: auto;
	src: url("../fonts/ProximaNova-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova-Bold';
  font-display: auto;
  src: url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'ProximaNova-Semibold';
  font-display: auto;
  src: url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Lato-Semibold';
  font-display: auto;
  src: url("../fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "ProximaNova-Regular", Tahoma, sans-serif;
	background: #fff;
	color: #2e2e2e;
	font-size: 14px;
	min-width: 350px;
}

h1,
h2,
h3 {
	all: unset;
	display: block;
}

.fixed_size {
	width: 100%;
	max-width: 1150px;
	margin: 0 auto;
}

.layout {
	overflow: hidden;
}

.layout__header {
	background: #A81C1F;
	background-size: cover;
	height: 978px;
	position: relative;
	background-position: bottom;
}

.layout__header .header__menu {
	padding: 50px 50px 0 50px;
}

.layout__header .header__menu__flexbox {
	display: inline-block;
}

.layout__header .header__menu .menu__logo {
	display: flex;
	text-decoration: none;
	color: #fff;
	align-items: center;
	justify-content: space-between;
}

.layout__header .header__menu .menu__logo .logo__image {
	background: url("../images/Logo-1x.png") no-repeat;
	background-size: contain;
	width: 57px;
	height: 41px;
	display: inline-block;
}

.layout__header .header__menu .menu__logo .logo__text {
	font-family: 'ProximaNova-Semibold';
	display: inline-block;
	text-transform: uppercase;
	vertical-align: top;
	line-height: 43px;
	margin-left: 16px;
	font-size: 16px;
	letter-spacing: 1px;
	color: #fff;
}

.layout__header .header__menu .menu__mobile {
	display: inline-block;
	float: right;
	cursor: pointer;
	margin: 5px;
	display: none;
}

.layout__header .header__menu .menu__mobile svg {
	width: 24px;
	height: 24px;
	fill: #fff;
}

.layout__header .header__menu .menu__container {
	display: inline-block;
	float: right;
}

.layout__header .header__menu .menu__container a {
	color: #fff;
	text-decoration: none;
	padding: 0px 16px;
	display: inline-block;
	line-height: 45px;
	font-family: 'ProximaNova-Semibold';
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	position: relative;
	padding-left: 0;
}

.layout__header .header__menu .menu__container a span {
	position: relative;
	top: 0;
	transition: top 300ms;
}

.layout__header .header__menu .menu__container a:hover span {
	top: -3px;
}

.layout__header .header__description {
	max-width: 600px;
	color: #fff;
	margin-top: 165px;
	padding: 0 50px;
}

.layout__header .header__description .description__title {
	font-family: 'ProximaNova-Semibold';
	font-size: 50px;
}

.layout__header .header__description .description__text {
	font-size: 20px;
	margin-top: 15px;
	line-height: 1.5em;
	max-width: 400px;
}

.layout__header .header__description .description__button {
	background: #ee1b1b;
	background: -moz-linear-gradient(left, #ee1b1b 0%, #ff4d16 100%);
	background: -webkit-linear-gradient(left, #ee1b1b 0%, #ff4d16 100%);
	background: linear-gradient(to right, #ee1b1b 0%, #ff4d16 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee1b1b', endColorstr='#ff4d16',GradientType=1 );
	font-family: 'ProximaNova-Semibold';
	color: #fff;
	text-decoration: none;
	line-height: 70px;
	display: inline-block;
	border-radius: 5px;
	margin-top: 30px;
	text-transform: uppercase;
	font-size: 16px;
	box-shadow: 0;
	position: relative;
	top: 0;
	transition: top 300ms;
	width: 260px;
	text-align: center;
	-moz-animation-name: description__button-animation;
	-webkit-animation-name: description__button-animation;
	-ms-animation-name: description__button-animation;
	animation-name: description__button-animation;
	-moz-animation-duration: 2s;
	-webkit-animation-duration: 2s;
	-ms-animation-duration: 2s;
	animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	-ms-animation-timing-function: linear;
	animation-timing-function: linear;
}

.layout__header .header__description .description__button:hover {
	top: -3px;
}

@-webkit-keyframes description__button-animation {
	0% {
		box-shadow: 0px 2px 15px 6px #dd3f0e;
	}

	50% {
		box-shadow: 0px 2px 15px -4px #dd3f0e;
	}

	100% {
		box-shadow: 0px 2px 15px 6px #dd3f0e;
	}
}

.layout__about {
	background: url("../images/about-bg.jpg") no-repeat;
	padding-bottom: 300px;
	background-size: cover;
	background-position: bottom center;
}

.layout__about .fixed_size {
	max-width: 1300px;
	position: relative;
}

.layout__about .about__image {
	width: 787px;
	height: 842px;
	position: absolute;
	left: -120px;
	bottom: -390px;
}

.layout__about .about__description {
	margin: 0 30px 0 50%;
	padding-top: 150px;
	position: relative;
	z-index: 2;
}

.layout__about .about__description .description__title {
	font-family: 'ProximaNova-Semibold';
	font-size: 40px;
	color: #2e2e2e;
}

.layout__about .about__description .description__text {
	color: #534a65;
	font-size: 18px;
	margin-top: 40px;
	line-height: 30px;
}

.layout__about .about__description .description__table {
	display: flex;
	justify-content: center;
	align-content: space-between;
	flex-direction: row;
	margin-top: 80px;
}

.layout__about .about__description .description__table .table__item {
	margin: 0 auto;
	border-right: 2px solid #e4e4e4;
	padding: 0 30px;
	text-align: center;
}

.layout__about .about__description .description__table .table__item:first-child {
	padding-left: 0;
}

.layout__about .about__description .description__table .table__item:last-child {
	border-right: 0;
	padding-right: 0;
}

.layout__about .about__description .description__table .table__item .item__title {
	font-size: 50px;
	color: #000;
	font-family: 'Lato-Semibold';
}

.layout__about .about__description .description__table .table__item .item__text {
	font-family: 'ProximaNova-Semibold';
	font-size: 14px;
	color: #2e2e2e;
	text-transform: uppercase;
	margin-top: 15px;
	letter-spacing: 1px;
	line-height: 1.5em;
}

.layout__projects {
	background: #141414;
	background-size: cover;
	position: relative;
	margin-top: -200px;
	padding-top: 150px;
	padding-bottom: 400px;
	clip-path: polygon(0px 10%, 100% 0px, 100% 91%, 0px 100%);
	-webkit-clip-path: polygon(0px 10%, 100% 0px, 100% 90%, 0px 100%);
}

.layout__projects .projects__title {
	color: #fff;
	font-size: 40px;
	font-family: 'ProximaNova-Semibold';
	margin-top: 70px;
	padding: 0 50px;
}

.layout__projects .projects__items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 60px;
	margin-left: -15px;
	justify-content: flex-start;
	padding: 0 50px;
}

.layout__projects .projects__items .item {
	width: 21%;
	flex-grow: 0;
	margin: 15px;
	position: relative;
	border-radius: 5px;
	background: #1d1d1d;
	padding: 45px;
	transition: background 300ms, top 300ms;
	top: 0;
	box-shadow: 0px 6px 45px 0px #0f0f0f;
	padding-bottom: 110px;
	overflow: hidden;
}

.layout__projects .projects__items .item:hover {
	background: #0c0c0c;
	top: -10px;
}

.layout__projects .projects__items .item .item__avatar {
	background: #cf3f23;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	float: left;
}

.layout__projects .projects__items .item .item__title {
	color: #fff;
	font-size: 28px;
	font-family: 'ProximaNova-Semibold';
	margin-left: 95px;
	position: absolute;
	right: 45px;
	left: 45px;
}

.layout__projects .projects__items .item .item__category {
	color: #717171;
	font-size: 12px;
	margin-top: 120px;
	text-transform: uppercase;
	font-family: 'ProximaNova-Semibold';
}

.layout__projects .projects__items .item .item__description {
	color: #c5c5c5;
	font-size: 16px;
	margin-top: 15px;
	line-height: 22px;
}

.layout__projects .projects__items .item .item__link {
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	font-family: 'ProximaNova-Semibold';
	font-size: 14px;
	margin-top: 30px;
	display: inline-block;
	transition: color 300ms;
	position: absolute;
	bottom: 40px;
}

.layout__projects .projects__items .item .item__link--disabled {
	color: #888888 !important;
}

.layout__projects .projects__items .item .item__link:hover {
	color: #f4574c;
}

.layout__projects .projects__items .item .item__link:hover .link__icon {
	fill: #f4574c;
}

.layout__projects .projects__items .item .item__link .link__icon {
	fill: #fff;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	transition: fill 300ms;
}

.layout__projects .projects__pagination {
	margin: 80px 50px 50px 50px;
}

.layout__projects .projects__pagination .pagination__item {
	display: inline-block;
	font-family: 'ProximaNova-Semibold';
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff;
	text-decoration: none;
	transition: color 300ms;
	vertical-align: top;
}

.layout__projects .projects__pagination .pagination__item--disabled {
	color: #666666 !important;
	cursor: default;
}

.layout__projects .projects__pagination .pagination__item--disabled .icon {
	fill: #666666 !important;
}

.layout__projects .projects__pagination .pagination__item .icon {
	fill: #fff;
	width: 16px;
	height: 16px;
	vertical-align: top;
	transition: fill 300ms;
}

.layout__projects .projects__pagination .pagination__item .title {
	display: inline-block;
}

.layout__projects .projects__pagination .pagination__prev .title {
	margin-left: 20px;
}

.layout__projects .projects__pagination .pagination__prev .icon {
	transform: scale(-1, 1);
}

.layout__projects .projects__pagination .pagination__next .icon {
	margin-left: 20px;
}

.layout__projects .projects__pagination .pagination__count {
	margin: 0 40px;
}

.layout__projects .projects__pagination .pagination__prev:hover,
    .layout__projects .projects__pagination .pagination__next:hover {
	color: #f4574c;
}

.layout__projects .projects__pagination .pagination__prev:hover .icon,
      .layout__projects .projects__pagination .pagination__next:hover .icon {
	fill: #f4574c;
}

.layout__team {
	margin-top: 110px;
	padding-bottom: 430px;
	background-size: 100%;
}

.layout__team .team__title {
	font-size: 40px;
	font-family: 'ProximaNova-Semibold';
	margin: 0 50px;
}

.layout__team .team__items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 60px;
	margin-left: -15px;
	justify-content: flex-start;
	padding: 0 50px;
}

.layout__team .team__items .item {
	width: 21%;
	margin: 15px;
	position: relative;
	border-radius: 5px;
	background: #f8f8f8;
	padding: 45px;
	top: 0;
	flex-grow: 0;
	transition: top 300ms;
	top: 0;
}

.layout__team .team__items .item:hover {
	top: -10px;
}

.layout__team .team__items .item .item__avatar {
	border-radius: 50%;
	overflow: hidden;
	width: 150px;
	margin: 0 auto;
}

.layout__team .team__items .item .item__avatar img {
	width: 100%;
}

.layout__team .team__items .item .item__title {
	font-family: 'ProximaNova-Semibold';
	font-size: 28px;
	margin-top: 40px;
	text-align: center;
}

.layout__team .team__items .item .item__role {
	font-family: 'ProximaNova-Semibold';
	font-size: 12px;
	text-transform: uppercase;
	color: #8a8a8a;
	margin-top: 12px;
	text-align: center;
}

.layout__team .team__items .item .item__description {
	margin-top: 25px;
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 40px;
}

.layout__team .team__items .item .item__social {
	margin-bottom: 20px;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.layout__team .team__items .item .item__social .social__link {
	color: #f4574c;
	text-decoration: none;
	font-family: 'ProximaNova-Semibold';
	transition: color 300ms;
}

.layout__team .team__items .item .item__social .social__link:hover {
	color: #f33224;
}

.layout__team .team__items .item .item__social .social__link svg {
	width: 24px;
	height: 24px;
	fill: #8a8a8a;
	transition: fill 200ms;
}

.layout__team .team__items .item .item__social .social__link svg:hover {
	fill: #757575;
}

.layout__team .team__footer {
	margin: 50px 50px 0 50px;
	position: relative;
}

.layout__team .team__footer .footer__title {
	font-size: 28px;
	font-family: 'ProximaNova-Semibold';
	width: 50%;
}

.layout__team .team__footer .footer__description {
	color: #717171;
	font-size: 16px;
	font-family: 'ProximaNova-Semibold';
	margin-top: 12px;
	width: 50%;
}

.layout__team .team__footer .footer__mail {
	font-size: 16px;
	position: absolute;
	top: 0;
	right: 0;
	width: 45%;
	line-height: 25px;
}

.layout__team .team__footer .footer__mail a {
	font-family: 'ProximaNova-Semibold';
	color: #ff4036;
	text-decoration: none;
}

.layout__feedback {
	background: #a81c1f;
	background-size: cover;
	margin-top: -300px;
	padding-bottom: 120px;
	transition: padding 300ms;
}

.layout__feedback .feedback__form {
	max-width: 500px;
	padding: 60px 80px;
	margin: 0 auto;
	background: #141414;
	box-shadow: 0px 5px 30px -1px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}

.layout__feedback .feedback__form .form__mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.75);
	z-index: 10;
	display: none;
}

.layout__feedback .feedback__form .form__mask .mask__title {
	color: #000;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: #000;
	font-size: 22px;
	font-family: 'ProximaNova-Semibold';
}

.layout__feedback .feedback__form input,
    .layout__feedback .feedback__form textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	outline: none;
}

.layout__feedback .feedback__form .form__title {
	font-size: 28px;
	font-family: 'ProximaNova-Semibold';
}

.layout__feedback .feedback__form .form__item {
	background: #000;
	border: 1px solid #000;
	font-size: 16px;
	font-family: 'ProximaNova-Regular';
	width: 100%;
	max-width: 100%;
	padding: 15px;
	margin-top: 25px;
	border-radius: 3px;
	display: block;
	transition: background 300ms;
}

.layout__feedback .feedback__form .form__item:focus {
	background: #fbfbfb;
}

.layout__feedback .feedback__form .form__name {
	margin-top: 50px;
}

.layout__feedback .feedback__form .form__email,
    .layout__feedback .feedback__form .form__theme {
	margin-top: 30px;
}

.layout__feedback .feedback__form .form__theme {
	height: 200px;
	resize: none;
}

.layout__feedback .feedback__form .form__button {
	background: #ee1b1b;
	background: -moz-linear-gradient(left, #ee1b1b 0%, #ff4d16 100%);
	background: -webkit-linear-gradient(left, #ee1b1b 0%, #ff4d16 100%);
	background: linear-gradient(to right, #ee1b1b 0%, #ff4d16 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee1b1b', endColorstr='#ff4d16',GradientType=1 );
	font-family: 'ProximaNova-Semibold';
	font-size: 14px;
	color: #0000;
	text-decoration: none;
	line-height: 55px;
	display: inline-block;
	padding: 0 65px;
	border-radius: 3px;
	margin-top: 30px;
	text-transform: uppercase;
	border: 0;
	cursor: pointer;
	position: relative;
	top: 0;
	transition: top 300ms;
}

.layout__feedback .feedback__form .form__button:hover {
	top: -3px;
}

.layout__feedback .feedback__form .form__confidence {
	display: inline-block;
	float: right;
	width: 50%;
	margin-top: 40px;
	color: #000;
}

.layout__feedback .feedback__footer .footer__items {
	margin: 100px 50px 0 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.layout__feedback .feedback__footer .footer__items .item {
	margin: 20px auto 0 auto;
	flex: 1;
	padding: 0 10px;
}

.layout__feedback .feedback__footer .footer__items .item__questions {
	width: 50%;
}

.layout__feedback .feedback__footer .footer__items .item__questions .item__title {
	color: #000;
	font-size: 34px;
	font-family: 'ProximaNova-Semibold';
}

.layout__feedback .feedback__footer .footer__items .item__questions .item__description {
	color: #000;
	font-size: 16px;
	width: 450px;
	max-width: 80%;
	margin-top: 10px;
	line-height: 25px;
}

.layout__feedback .feedback__footer .footer__items .item__vk .item__title,
    .layout__feedback .feedback__footer .footer__items .item__email .item__title {
	color: #000;
	font-size: 24px;
	font-family: 'ProximaNova-Semibold';
}

.layout__feedback .feedback__footer .footer__items .item__vk .item__button {
	background: rgba(255, 255, 255, 0.15);
	padding: 20px 0px;
	color: #000;
	text-decoration: none;
	border-radius: 3px;
	font-size: 14px;
	font-family: 'ProximaNova-Semibold';
	text-transform: uppercase;
	display: inline-block;
	margin-top: 20px;
	transition: background 300ms;
	text-align: center;
	max-width: 200px;
	display: block;
}

.layout__feedback .feedback__footer .footer__items .item__vk .item__button:hover {
	background: rgba(255, 255, 255, 0.25);
}

.layout__feedback .feedback__footer .footer__items .item__email .item__button {
	margin-top: 15px;
	color: #000;
	text-decoration: none;
	font-size: 16px;
	display: inline-block;
}

.layout__footer {
	background: #141414;
}

.layout__footer .footer__items {
	display: flex;
	padding: 50px 30px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.layout__footer .footer__items .item {
	margin: 15px auto;
}

.layout__footer .footer__items .item__logo {
	padding: 0 10px;
}

.layout__footer .footer__items .item__logo .logo {
	background: url("../images/footer-logo-1x.png") no-repeat;
	background-size: contain;
	width: 57px;
	height: 41px;
	opacity: 0.5;
}

.layout__footer .footer__items .item__menu .menu a {
	color: #a5a5a5;
	text-decoration: none;
	font-size: 14px;
	font-family: 'ProximaNova-Semibold';
	display: inline-block;
	text-transform: uppercase;
	margin-right: 30px;
	position: relative;
	top: 0;
	transition: top 300ms;
}

.layout__footer .footer__items .item__menu .menu a:hover {
	top: -3px;
}

.layout__footer .footer__items .item__social .social__link {
	text-decoration: none;
	position: relative;
	top: 0;
	transition: top 300ms;
}

.layout__footer .footer__items .item__social .social__link:hover {
	top: -3px;
}

.layout__footer .footer__items .item__social .social__link svg {
	fill: #c4c4c4;
	width: 20px;
	height: 20px;
	margin: 0 10px 0 10px;
}

.modal_window {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.9);
	z-index: 1000;
	overflow: auto;
	display: none;
}

.modal_window .modal_button_close {
	position: fixed;
	top: 60px;
	right: 60px;
	background: url("../svg/cancel.svg") no-repeat;
	height: 40px;
	width: 40px;
	background-size: cover;
	cursor: pointer;
}

.modal_window .modal_window__body .layout__team {
	margin-top: 60px;
	padding-bottom: 90px;
	background: none;
}

.modal_window .modal_window__body .layout__team .team__title {
	color: #fff;
	line-height: 1em;
}

.modal_window .modal_window__body .layout__team .team__items .item {
	background: #1d1d1d;
	transition: background 300ms, top 300ms;
}

.modal_window .modal_window__body .layout__team .team__items .item:hover {
	background: #0c0c0c;
}

.modal_window .modal_window__body .layout__team .team__items .item .item__title {
	color: #fff;
}

.modal_window .modal_window__body .layout__team .team__items .item .item__role {
	color: #717171;
}

.modal_window .modal_window__body .layout__team .team__items .item .item__description {
	color: #c5c5c5;
}

.modal_window .modal_window__body .layout__team .team__footer .footer__title {
	color: #fff;
}

.modal_window .modal_window__body .layout__team .team__footer .footer__mail {
	color: #717171;
}